<div data-hook="global-collect-payments">
  <p>
    <%= label :global_collect, :payment_product %>:
    <%= select :global_collect,
               :payment_product,
               payment_method.preferred_payment_products, {include_blank: true},
               id: 'global-collect-pay-select' %>
  </p>

  <%= link_to Spree.t('global_collect.submit_order'),
            global_collect_hml_payment_path(payment_method_id: payment_method.id),
            method: :post, remote: true, id: 'global-collect-pay-link' %>

  <div data-hook="global-collect-iframe"></div>
</div>
