<div data-hook="global-collect-payments">
  <p>
    <%= label :global_collect, :payment_product %>:
    <%= select :global_collect,
               :payment_product,
               payment_method.filtered_product_payments(current_order),
               {include_blank: true},
               class: 'global-collect-pay-select',
               data: {
                 link: "#global-collect-pay-link-#{payment_method.id}"
               } %>
  </p>

  <%= link_to Spree.t('global_collect.submit_order'),
        global_collect_hml_payment_path(payment_method_id: payment_method.id),
        method: :post,
        remote: true,
        class: 'global-collect-pay-link',
        id: "global-collect-pay-link-#{payment_method.id}" %>

  <div data-hook="global-collect-iframe"></div>
</div>
