var flashError, error, iframeUrl

flashError = $('.flash.error')

<% if @response.valid? %>
  flashError.remove()
  iframeUrl = '<%=j @response[:formaction] %>'

  $("#global-collect-iframe-<%= @payment_method.id %>").html(
    $('<iframe src="'+iframeUrl+'" width="500" height="300" frameborder="0">'))

<% else %>
  error = '<div class="flash error">'+
            '<%=j flash[:error] %>'+
            '<%=j @response.to_s unless Rails.env.production? %>'+
          '</div>';

  if (flashError.is('*')) {
    flashError.replaceWith(error);
  } else {
    $('#content').prepend(error);
  }
<% end %>
